/* Write your CSS here */

img {
  width: 40vw;
}

.search-icon {
  width: 25px;
  height: 25px;
  margin-left: 16px;
}

.input-container {
  background-color: #f1f5f9;
  width: 260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

input {
  background-color: #f1f5f9;
  border: 0px;
}
